{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'user/folder/assets/images/avtar/music_clu.png' %}" type="image/x-icon">
	<!-- <title></title> -->

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<script src="https://use.fontawesome.com/c0fc7bc651.js"></script>
	<link href="{% static 'admin/global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'admin/assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<title>Admin | {% block title3 %} {% endblock %}</title>

	<!-- Core JS files -->
	<script src="{% static 'admin/global_assets/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/loaders/blockui.min.js' %}"></script>

	<!-- /core JS files -->
	<script src="{% static 'admin/assets/js/app.js' %}"></script>
	<!-- /theme JS files -->

	<script src="{% static 'admin/global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js' %}"></script>
	<script src="{% static 'admin/global_assets/js/demo_pages/datatables_extension_buttons_html5.js' %}"></script>

	<!-- for image_uploader -->

	<script src="{% static 'admin/global_assets/js/demo_pages/uploader_bootstrap.js' %}"></script>

	<script src="{% static 'admin/global_assets/js/plugins/uploaders/fileinput.min.js' %}"></script>

	<!-- for Notifiacations -->

	<script src="{% static 'admin/global_assets/js/pnotify.min.js' %}"></script>

	<script src="{% static 'admin/global_assets/js/extra_pnotify.js' %}"></script>

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div style="position: relative; top: 10px;">
			<h4>Music Club Admin Panel</h4>
		</div>
		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>


		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3">
								<a href="#"><img src="{% static 'user/folder/assets/images/avtar/user.jpg' %}" width="38" height="38" class="rounded-circle" alt=""></a>
							</div>

							<div class="media-body mt-2">
								<div class="media-title font-weight-semibold">Admin</div>
								<div class="font-size-xs opacity-50">
																	</div>
							</div>


						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item">
							<a href="index.html" class="nav-link active">
								<i class="icon-home4"></i>
								<span>
									Dashboard
								</span>
							</a>
						</li>
						<li class="nav-item nav-item-submenu {% if cat_master == 'master' %} {{'nav-item-expanded nav-item-open'}} {% endif %}">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Master</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/admin/category/" class="nav-link {% if cat_active == 'cat_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Category</span></a></li>
								<li class="nav-item"><a href="/admin/brand/" class="nav-link {% if subcat_active == 'subcat_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>brand </span></a></li>
								<li class="nav-item"><a href="/admin/product/" class="nav-link {% if product_active == 'product_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Product</span></a></li>

							</ul>

						</li>
						<li class="nav-item nav-item-submenu {% if address_master == 'address master' %} {{'nav-item-expanded nav-item-open'}} {% endif %}">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Address Master</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/admin/address/state/" class="nav-link {% if state_active == 'state_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>State Master</span></a></li>
							</ul>

						</li>

						<li class="nav-item nav-item-submenu {% if order_master == 'order' %} {{'nav-item-expanded nav-item-open'}} {% endif %}">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Order Master</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/admin/order/" class="nav-link {% if order_active == 'order_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Order</span></a></li>


							</ul>

						</li>

						<!-- <li class="nav-item nav-item-submenu {% if employee_master == 'employee master' %} {{'nav-item-expanded nav-item-open'}} {% endif %}">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Employee Master</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/admin/employee/" class="nav-link {% if employee_active == 'employee_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Employee</span></a></li>
							</ul>

						</li>

						<li class="nav-item nav-item-submenu {% if service_master == 'service master' %} {{'nav-item-expanded nav-item-open'}} {% endif %}">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Service Master</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/admin/service/" class="nav-link {% if service_active == 'service_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Service</span></a></li>
							</ul>

						</li> -->

						<li class="nav-item nav-item-submenu {% if slider_master == 'slider master' %} {{'nav-item-expanded nav-item-open'}} {% endif %}">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Gallery</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/admin/slider/" class="nav-link {% if slider_active == 'slider_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Slider</span></a></li>
							</ul>

						</li>

						<!--<li class="nav-item nav-item-submenu {% if filter_master == 'filter master' %} {{'nav-item-expanded nav-item-open'}} {% endif %}">-->
						<!--	<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Product Filter</span></a>-->
						<!--	<ul class="nav nav-group-sub" data-submenu-title="Layouts">-->
								<!-- <li class="nav-item"><a href="/admin/filter/age/" class="nav-link {% if age_active == 'age_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Age</span></a></li> -->
						<!--		<li class="nav-item"><a href="/admin/filter/colour/" class="nav-link {% if colour_active == 'colour_master' %} {{'active'}} {% endif %}"><i class="icon-copy"></i> <span>Colour</span></a></li>	-->
						<!--	</ul>-->

						<!--</li>-->

					</ul>

				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->


		</div>
		<!-- /main sidebar -->
		<!-- Main content -->
		<div class="content-wrapper">
			<div class="page-header page-header-light">

				<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
				  <div class="d-flex">
					<div class="breadcrumb">
					  <a href="/admin/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
					  <span class="breadcrumb-item active">{% block title %} {% endblock %}</span>
					  <span class="breadcrumb-item active mr-2">{% block title2 %} {% endblock %}</span>

					</div>

					<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
				  </div>

				  <div class="header-elements d-none">
					<div class="breadcrumb justify-content-center">
					  <a href="#" class="breadcrumb-elements-item">
						<i class="icon-comment-discussion mr-2"></i>
						Support
					  </a>

					  <div class="breadcrumb-elements-item dropdown p-0">
						<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
						  <i class="icon-gear mr-2"></i>
						  Settings
						</a>

						<div class="dropdown-menu dropdown-menu-right">
						  <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
						  <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
						  <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
						  <a href="{% url 'change_password' %}" class="dropdown-item"><i class="icon-profile"></i> Change Password</a>
						  <a href="{% url 'logout' %}" class="dropdown-item"><i class="icon-accessibility"></i> LOGOUT</a>


						  <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

            <!-- Content area -->
                    {% block content %}

                    {% endblock %}
			<!-- Content area -->

			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2015 - 2018. <a href="#">Music Club

						</a> by <a href="#" target="_blank">Eugene Kopyov</a>
					</span>

					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
						<li class="nav-item"><a href="#" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
					</ul>
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>

</html>

{% else %}




{% endif %}