{% extends 'admin/masterpage/index.html' %}
{% load crispy_forms_tags %}
{% block title3 %} Manage Category {% endblock %}
{% block title %} Master {% endblock %}
{% block title2 %} Category {% endblock %}
{% block content %}
<div class="content">
  <div class="content">
    <!-- <div class="ml-4 mb-3 w-100">
      <button type="button" onclick="openModel()" class="btn bg-primary-400 btn-labeled btn-labeled-left"><b><i
            class="icon-plus2"></i></b> Add Category </button>
    </div> -->
    
    <div class="card">
      <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Manage Category</h5>
            </div>
            <div class="col-md-2" >
                {% if messages %}

                        {% for message in messages %}
                            <!--<div class="alert alert-info">-->
                                <p style="color: red; margin-top: 10px !important;" >    
                                {{ message }}
                                </p>
                            <!--</div>-->
                        {% endfor %}
                
                    {% endif %}
            </div>
            <div class="col-md-3">
                <button type="button" onclick="openModel()" class="btn btn-sm btn-light" style="
                color: blue; margin-left: 15px; " ><i class="icon-plus-circle2"></i> ADD CATEGORY</button>
            </div>
            <div class="col-md-1">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
      </div>
      <table class="table table-bordered datatable-button-html5-basic">
        <thead>
          <tr class="bgcolor text-light">
              <th width="1" >No</th>
              <th>Category Name</th>
              <th>Category Image</th>
              <th width="20" >Action</th>
          </tr>
        </thead>
        <tbody>
          {% for i in list %}
          <tr>
              <td>{{i.id}}</td>
              <td>{{i.cat_name}}</td>
              <td><img src="{{i.cat_img.url}}" width="100px" alt=""></td>
              <td>
                <a href="javascript:void(0)" class="mr-2" data-popup="tooltip" title="Update" data-container="body"  onclick="updateModel({{i.id}})"><i class="icon-pencil3"></i></a>
                <a href="/admin/category/remove_cat/{{i.id}}" class="" data-popup="tooltip" title="Remove" ><i class="icon-trash"></i></a>
              </td>
                
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="categoryModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD CATEGORY</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="Addcategory" enctype="multipart/form-data">
          <input type="hidden" name="id" id="id" value="" />
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                {{ m.cat_name|as_crispy_field }}
                {{ m.cat_img|as_crispy_field }}
              </div>
            </div>
          </div>
          {% csrf_token %}
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal"><span class="text-light">Close</span></button>
            <button type="submit" class="btn btn-primary ">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<script>

  function openModel() {
    $('#categoryModal').modal();
    $("#Addcategory")[0].reset();
    
  };


  function updateModel(id) {
    $.ajax({
      url: '/admin/category/updateCat/',
      method: 'POST',
      data: { 'id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
      dataType: 'JSON',

      success: function (data) {
        $('[name="id"]').val(data.id);
        $('#id_cat_name').val(data.cat_name);
        $('#categoryModal').modal();

      },

      error: function () {
        alert('Something is Wrong');
      }
    });
  }


</script>

{% endblock %}