{% extends 'admin/masterpage/index-1.html' %}
{% block title3 %} Manage Category {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="cal_ content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Manage Category</h5>
            </div>
            <div class="col-md-2" >
                {% if messages %}

                        {% for message in messages %}
                            <!--<div class="alert alert-info">-->
                                <p style="color: red; margin-top: 10px !important;" >
                                {{ message }}
                                </p>
                            <!--</div>-->
                        {% endfor %}

                    {% endif %}
            </div>
            <div class="col-md-3">
                <div style="text-align-last: center; padding-top:12px; " >
                    <button type="button" onclick="openModel()" class="btn btn-sm btn-light" style="
                    color: blue; border: blue solid 1.7px; padding: 6px 17px;" ><i class="fa fa-plus" style="font-weight: bolder;" ></i> ADD CATEGORY</button>
                </div>
            </div>
            <div class="col-md-3" style=" padding-top:12px; " >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                <li class="breadcrumb-item active">Category</li>
                </ol>
            </div>
        </div>
    <!--    <h1>-->
    <!--        Manage Category-->
    <!--    </h1>-->
    <!--    <div class="col-md-2" >-->
    <!--        {% if messages %}-->

    <!--            {% for message in messages %}=-->
    <!--                <p style="color: red; margin-top: 10px !important;" >    -->
    <!--                    {{ message }}-->
    <!--                </p>=-->
    <!--            {% endfor %}-->

    <!--        {% endif %}-->
    <!--    </div>-->
    <!--    <div class="col-md-3">-->
    <!--    <button type="button" onclick="openModel()" class="btn btn-sm btn-light" style="-->
    <!--        color: blue; margin-left: 15px; " ><i class="icon-plus-circle2"></i> ADD CATEGORY</button>-->
    <!--</div>-->
    <!--    <ol class="breadcrumb">-->
    <!--    <li class="breadcrumb-item"><a href="/admin/"><i class="fa fa-dashboard"></i> Home</a></li>-->
    <!--    <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>-->
    <!--    <li class="breadcrumb-item active">Products</li>-->
    <!--  </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            {% for i in list %}
		    <div class="col-12 col-lg-6 col-xl-3">
    		    <div class="box">
                    <div class="box-body">
    				    <div class="product-img">
        					<img src="{{i.cat_img.url}}" alt="" class="das" >
        					<div class="pro-img-overlay">
        					    <a href="javascript:void(0)" onclick="updateModel({{i.id}})" class="bg-info" style="width: auto !important; padding: 10px 25px !important; margin: 0; margin-top: 50px !important;" >Edit</a>
        					    <a href="javascript:void(0)" onclick="Delete({{i.id}})" class="bg-danger" style="width: auto !important; padding: 10px 25px !important; margin: 0; margin-top: 50px !important;" >Delete</a>
    					    </div>
    				    </div>
    				    <div class="product-text">
        					<!--<h2 class="pro-price text-green">$270</h2>-->
        					<h3 class="box-title mb-0">{{i.cat_name}}</h3>
        					<!--<small class="text-muted db">Lorem Ipsum Dummy Text</small>-->
    				    </div>
                    </div>
                </div>
    	    </div>
    	    {% endfor %}
        </div>

    </section>
    <!-- /.content -->
  </div>


<div class="modal center-modal fade" id="categoryModal" tabindex="-1">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title " id="add_cat" style="display: none;" >ADD CATEGORY</h5>
		<h5 class="modal-title " id="edit_cat" style="display: none;" >EDIT CATEGORY</h5>
		<button type="button" class="close" data-dismiss="modal">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
        <form method="POST" id="Addcategory" enctype="multipart/form-data">
          <input type="hidden" name="id" id="id" value="" />
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                {{ m.cat_name|as_crispy_field }}
                {{ m.cat_img|as_crispy_field }}
              </div>
            </div>
          </div>
          {% csrf_token %}
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal"><span class="text-light">Close</span></button>
            <button type="submit" class="btn btn-primary ">Submit</button>
          </div>
        </form>
      </div>
	</div>
  </div>
</div>


<script>

  function openModel() {
    $("#Addcategory")[0].reset();
    $("#add_cat").css('display','block');
    $("#edit_cat").css('display','none');
    $('#categoryModal').modal();

  };


  function updateModel(id) {''
    $.ajax({
      url: '/admin/category/updateCat/',
      method: 'POST',
      data: { 'id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
      dataType: 'JSON',

      success: function (data) {
        $('[name="id"]').val(data.id);
        $('#id_cat_name').val(data.cat_name);
        $("#add_cat").css('display','none');
        $("#edit_cat").css('display','block');
        $('#categoryModal').modal();

      },

      error: function () {
        alert('Something is Wrong');
      }
    });
  }

    function Delete(id){
        let confirmAction = confirm("You want to delete Category?")
        if (confirmAction){
            window.location.href = "/admin/category/remove_cat/" + id + "";
        }
        else{

        }
    }

</script>



{% endblock %}