{% extends 'admin/masterpage/index.html' %}
{% load crispy_forms_tags %}
{% block title3 %} Manage Product {% endblock %}
{% block title %} Master {% endblock %}
{% block title2 %} Product {% endblock %}
{% block content %}

<style type="text/css">
  .boxed label {
    display: inline-block;
    width: auto;
    padding: 1px 6px;
    border: solid 1px #ccc;
    transition: all 0.3s;
  }

  .boxed input[type="radio"] {
    display: none;
  }

  .boxed input[type="radio"]:checked+label {
    background-color: #2196f3;
    border: solid 1px #2196f3;
    color: white;
  }

  .modal {
    overflow-y: auto;
  }
</style>


<div class="content">
  <div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Manage Product</h5>
            </div>
            <div class="col-md-2" >
                {% if messages %}

                        {% for message in messages %}
                            <!--<div class="alert alert-info">-->
                                <p style="color: red; margin-top: 10px !important;" >    
                                {{ message }}
                                </p>
                            <!--</div>-->
                        {% endfor %}
                
                    {% endif %}
            </div>
            <div class="col-md-3">
                <button type="button" onclick="productModal()" class="btn btn-sm btn-light" style="margin-left: 30px; color: blue;" ><i class="icon-plus-circle2"></i> ADD PRODUCT</button>
            </div>
            <div class="col-md-1">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
      </div>
    <table class="table table-bordered datatable-button-html5-basic">
        <thead>
          <tr class="bgcolor text-light">
          <th width="10" >Id</th>
          <th>Category Name</th>
          <th>Brand Name</th>
          <th>Product Name</th>
          <th>Product Code</th>
          <th>Product Price</th>
          <th>Colour</th>
          <th>Product Quantity</th>
          <th>Product image</th>  
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in pro_data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.catname_id}}</td>
            <td>{{i.brand}}</td>
            <td>{{i.productname}}</td>
            <td>{{i.pro_code}}</td>
            <td>{{i.pro_price}}</td>
            <td>{{i.pro_colour}}</td>
            <td>{{i.total_quantity}}</td>
            <td><img src="{{i.pro_image.url}}" width="100px" alt=""></td>
            <td>
              <a href="javascript:void(0)" class="mr-2" data-popup="tooltip" title="Update" data-container="body"  onclick="updateModel({{i.id}})"><i class="icon-pencil3"></i></a>
              <a href="/admin/product/remove_pro/{{i.id}}" class="" data-popup="tooltip" title="Remove" ><i class="icon-trash"></i></a>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="productModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD PRODUCT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="formid">
          <input type="hidden" name="hid" id="hid"> 
            <div class="form-group">   
                <div class="row">
                    <div id="div_id_catname_id" class="col-md-6">
                        <label for="id_catname_id" class=" requiredField">
                            Category
                        </label>
                        <div class="">
                            <select name="catname_id" onchange="checkrequired()" class="select form-control" required
                                id="id_catname_id">
                                <option selected value="">Select Category</option>
                                {% for i in cat_obj %}
                                  <option value="{{i.id}}" >{{i.cat_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>        
                    <div id="div_id_brandname" class="col-md-6">
                        <label for="id_brandname" class=" requiredField">
                          Brand Name
                        </label>
                        <div class="">
                          <select name="brandname_id" class="select form-control" required
                              id="id_brand">
                              <option selected value="">Select Brand</option>
                              {% for i in brand_obj %}
                                <option value="{{i.id}}" onchange="checkrequired()" >{{i.brand_name}}</option>
                              {% endfor %}
                          </select>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <div class="row">

                <div class="form-group col-md-6 mb-3">
                  <div id="div_id_productname" class="form-group">
                    <label for="id_productname" class=" requiredField">
                      Product Name
                    </label>
                    <div class="">
                      <input type="text" name="productname" placeholder="Enter Product Name" maxlength="100"
                        class="textinput textInput form-control" id="id_productname" onkeyup="checkrequired()" required >
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6 mb-3">
                  <div id="div_id_pro_code" class="form-group">
                    <label for="id_pro_code" class=" requiredField">
                      Product Code
                    </label>
                    <div class="">
                      <input type="number" name="pro_code" id="id_pro_code" onkeyup="checkrequired()" placeholder="Enter Product Code" class="numberinput form-control" required>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div id="div_id_pro_description" class="col-md-12">
                        <label for="id_pro_description" class=" requiredField">
                            Product Description
                        </label>      
                        <div class="">
                            <textarea name="pro_description" cols="40" rows="10" placeholder="Enter Product Description"
                                class="textarea form-control" onkeyup="checkrequired()" id="id_pro_description" required ></textarea>
                        </div>
                    </div>
                </div>
            </div>
          {% csrf_token %}
            <div class="modal-footer pb-1">
                <button type="button" class="btn btn-dark" data-dismiss="modal"><span class="text-light">Close</span></button>
                <button type="button" id="dubmit" disabled onclick="openForm()" class="btn btn-primary ">Open Form</button>
            </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="category2Model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" id="productform_id" action="/admin/product/getdata/">
          <input type="hidden" name="hidden_id" id="hidden_id">
          <div class="row">

            <div class="form-group col-md-4 mb-3">
              <div id="main_image" class="form-group">
                <div class="form-group">
                  <label class="col-form-label">Front Image</label>
                  <input type="file" class="file-input"  name="pro_image" id="id_pro_image" data-fouc>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4 mb-3">
              <div id="back_image" class="form-group">
                <div class="form-group">
                  <label class="col-form-label">Back Image</label>
                  <input type="file" class="file-input" name="pro_back_image" id="id_pro_back_image" data-fouc>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4 mb-3">
              <div id="idi_feature_image" class="form-group">
                <div class="form-group">
                  <label class="col-form-label">Feature Image</label>
                  <input type="file" class="file-input" name="feature_image" id="id_feature_image" multiple data-fouc>
                </div>
              </div>
            </div>   

          </div>
          
          <div class="row">

            <div class="form-group col-md-4 mb-3">

              <div id="div_id_strike_price" class="form-group">

                <label for="pro_quntity" class="requiredField">
                  Product Quantity
                </label>
                <div class="">
                  <input type="number" class="form-control" name="pro_quntity" id="id_pro_quantity"
                    onkeyup="enable_button()" placeholder="Enter Quntity">
                </div>
              </div>
            </div>

            <div class="form-group col-md-4 mb-3">

              <div id="div_id_pro_price" class="form-group">

                <label for="id_pro_price" class="requiredField">
                  Product Price
                </label>
                <div class="">
                  <input type="number" class="form-control" name="pro_price" placeholder="Enter Price" id="id_pro_price">
                </div>
              </div>

            </div>

            <div class="form-group col-md-4 mb-3">
              <div id="div_id_pro_price" class="form-group">
                <label for="strike_price" class="requiredField">
                  Strike Price
                </label>
                <div class="">
                  <input type="number" class="form-control" name="strike_price" placeholder="Enter Strike Price" id="id_strike_price">
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-4 mb-3">

              <div id="div_id_pro_colour" class="form-group">

                <label for="pro_colour" class="requiredField">
                  Product Colour
                </label>
                <div class="">
                  <input type="text" class="form-control" name="pro_colour" placeholder="Enter Colour" id="id_pro_colour">
                </div>
              </div>

            </div>   

            <div class="form-group col-md-4 mb-3">

              <div id="div_id_return_product" class="form-group">

                <label for="id_return_product" class="requiredField">
                  Return Product
                </label>
                <div class="">
                  <select name="return_product" class="select form-control"  id="id_return_product">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="form-group col-md-4 mb-3" id="return_opt">

              <div id="div_id_return_period_days" class="form-group">

                <label for="return_period_days" class="requiredField">
                  Return Period Days
                </label>
                <div class="">
                  <input type="number" class="form-control" name="return_period_days" placeholder="Enter Return Days" id="id_return_period_days">
                </div>
              </div>

            </div>

             

          </div>

          <div class="row">
            
            <div class="form-group col-md-4 mb-3">

              <div id="div_pro_height" class="form-group">

                <label for="pro_height" class="requiredField">
                  Product Height
                </label>
                <div class="">
                  <input type="text" class="form-control" name="pro_height" placeholder="Enter Height" id="pro_height">
                </div>
              </div>

            </div>

            <div class="form-group col-md-4 mb-3">

              <div id="div_pro_width" class="form-group">

                <label for="pro_width" class="requiredField">
                  Product Width
                </label>
                <div class="">
                  <input type="text" class="form-control" name="pro_width" placeholder="Enter Width" id="pro_width">
                </div>
              </div>

            </div>

            <div class="form-group col-md-4 mb-3">

              <div id="div_id_pro_length class="form-group">

                <label for="pro_length" class="requiredField">
                  Product Length
                </label>
                <div class="">
                  <input type="text" class="form-control" name="pro_length" placeholder="Enter Length" id="pro_length">
                </div>
              </div>

            </div>    

          </div>
          <div class="modal-footer pb-1">
            <button type="button" onclick="modalreopen()" class="btn btn-dark">back</button>
            <button type="submit" id="submit_button" class="btn btn-primary">submit</button>
          </div>
    {% csrf_token %}
    </form>
  </div>
</div>
</div>
</div>

<script>

  function updateModel(id) {
    $.ajax({
      url: '/admin/product/updatepro/',
      method: 'POST',
      data: { 'id': id, csrfmiddlewaretoken: '{{csrf_token}}' },
      dataType: 'JSON',

      success: function (data) {
        $('#hid').val(data.id);
        $('#id_catname_id').val(data.catname_id);
        $('#id_brand').val(data.brand);
        $('#id_productname').val(data.productname);
        $('#id_pro_code').val(data.pro_code);
        $('#id_pro_description').val(data.pro_description);

        
        $('#id_pro_quantity').val(data.total_quantity);
        $('#id_pro_price').val(data.pro_price);
        $('#id_strike_price').val(data.strike_price);
        
        
        $('#id_pro_colour').val(data.pro_colour);
        $('#id_return_product').val(data.return_product);
        $('#id_return_period_days').val(data.return_period_days);
        
        $('#pro_height').val(data.pro_height);
        $('#pro_width').val(data.pro_width);
        $('#pro_length').val(data.pro_length);
        checkrequired()
        $('#productModal').modal();

      },

      error: function () {
        alert('Something is Wrong');
      }
    });
  };

  function modalreopen() {
    $('#productModal').modal('show');
    $('#category2Model').modal('hide');
  };


  function productModal() {
    $('#productModal').modal();
    $("#formid")[0].reset();
    $("#productform_id")[0].reset();
    $('#hid').val('');
    $('#hidden_id').val('');
    checkrequired()

  };
  
  function openForm() {
    $.ajax({
      url: '/admin/product/',
      method: 'POST',
      data: $('#formid').serialize(),
      dataType: 'JSON',
      success: function (data) {

        if (data.status == true) {
          $('#hidden_id').val(data.id);
          $('#hid').val(data.id);
          $('#productModal').modal('hide');
          $('#category2Model').modal('show');
        } else {
          alert('Something is Wrong')
        }
      }
    });
  };

  document.getElementById('id_return_product').onchange =
    function () {

      var a = $('#id_return_product').val();

      if (a == 'No') {
        $('#return_opt').css('display', 'none');
        $('#id_return_period_days').val('0');
      }

      else {
        $('#return_opt').css('display', 'block');
        $('#id_return_period_days').val('0');
      }

    };

    function checkrequired(){
      if( $("#id_productname").val() == '' || $("#id_pro_code").val() == '' || $("#id_pro_description").val() == '' || $("#id_catname_id").val() == '' || $("#id_brand").val() == '' ){
        $('#dubmit').attr('disabled', true)
      }
      else{
        $('#dubmit').attr('disabled', false)
      }
    }
</script>

{% endblock %}