{% extends 'user/profile.html' %}
{% load static %}
{% block title %} Change Password   {% endblock %}
{% block titall %} Change Password {% endblock %}
{% load crispy_forms_tags %}
{% block contentt %}

<div style="margin: 0;
            height: 100vh;
            width: 100vw;
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;" id="login_loader">
    <img style="max-height: 130px;" src="{% static 'user/folder/assets/images/loader.gif' %}" alt="loader">
</div>

<div class="col-md-9">
    <div class="dashboard-right" style="background-color: #ffffff00 !important;" >
        <div class="dashboard pt-0 pb-0" >
            <div class="col-md-12 mb-3" id="id_1" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;" >
                <div class="block-content" style="padding: 1px;" >
                    <div class="form-group col-md-12 p-4">
                        <div class="row" >
                            <div class="col-md-12">
                                <a href="javascript:void(0)" onclick="clicknew()" >
                                    <h3 class="text-center" style="color: black;" >Change Password</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard pt-0 pb-0" >
            <div class="col-md-12 mb-2"  style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;">
                <div class="block-content" style="padding: 1px;" >
                    <div class="checkout-page contact-page">
                        <div class="checkout-form" style="padding: 50px;" >
                            <div class="row">
                                <div class="col-md-12">
                                    {% if request.session.username != 'demo' %}
                                        <form method="POST" id="change_form" onsubmit="changepassword(); return false;" >
                                            {% csrf_token %}
                                    {% endif %}
                                        {% if request.session.username == 'demo' %}
                                            <div id="access" class="form-group">  
                                                <div> 
                                                    <input type="text" name="access" class="textinput textInput form-control text-danger" style="border: 2px solid #ff0000; background-color:#ffc4c499;" readonly value="Access Denied" >
                                                </div> 
                                            </div> 
                                        {% endif %}
                                        <div id="div_id_old_password" class="form-group"> 
                                            <label for="id_old_password" class=" requiredField">
                                                Old password
                                                <span class="asteriskField">*</span> 
                                            </label>
                                            <div> 
                                                <input type="password" name="old_password" autocomplete="current-password" autofocus="" class="textinput textInput form-control" required id="id_old_password">
                                                <p id="error_1_id_old_password" class="invalid-feedback"><strong>Your old password was entered incorrectly. Please enter it again.</strong></p>
                                            </div> 
                                        </div> 
                                        <div id="div_id_new_password1" class="form-group"> 
                                            <label for="id_new_password1" class=" requiredField">
                                                New password
                                                <span class="asteriskField">*</span>
                                            </label> 
                                            <div> 
                                                <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password1" >
                                                <small style="display: none;" id="hint_id_new_password1" class="form-text text-muted"><ul><li>Your password must contain at least 8 characters.</li></ul></small>
                                            </div> 
                                        </div> 
                                        <div id="div_id_new_password2" class="form-group"> 
                                            <label for="id_new_password2" class=" requiredField">
                                                New password confirmation
                                                <span class="asteriskField">*</span> 
                                            </label> 
                                            <div> 
                                                <input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password2" onkeyup="check_pass()" >
                                                <p id="error_1_id_new_password2" class="invalid-feedback"><strong>The two password fields didn’t match.</strong></p>
                                            </div> 
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="row" >
                                                <div class="col-md-6">
                                                    <a href="/user/dashboard/">
                                                        <button type="button" class="btn btn-danger btn-block">Back</button>
                                                    </a>
                                                </div>
                                                {% if request.session.username != 'demo' %}
                                                    <div class="col-md-6">
                                                        <button type="submit" id="sbbtn" class="btn btn-primary btn-block">Change</button>
                                                    </div>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    {% if request.session.username != 'demo' %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p = $("#id_new_password1").val();
        let cp = $("#id_new_password2").val();
        
        if(p==cp){
            $("#id_new_password2").css("border","2px solid #dddddd");
            // $("#id_new_password2").css("border","1px solid green");
            // $("#pas").removeClass("alert alert-danger").addClass("alert alert-danger");
        }
        else{
            $("#id_new_password2").css("border","2px solid red");
            // $("#id_new_password2").css("border","1px solid green");
            // $("#pas").removeClass("alert alert-danger").addClass("alert alert-danger");
        }
    }
</script>

{% endblock %}






