{% extends 'user/index.html' %}
{% load static %}
{% block title %} Reset Password  {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>Reset Password</h2>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">Reset Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="login-page breadcrumb-main">
    <div class="custom-container col-md-5">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body" style="box-shadow: 0px 1px 18px 9px #60575773;" >
                    <h3 class="text-center">Change Password</h3>
                    <form class="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="carttcount" value="0" >
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>






{% endblock %}