{% extends 'user/index.html' %}
{% load static %}
{% block title %} Password Reset Complete  {% endblock %}
{% block content %}

<!-- <div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>eset Password</h2>
                        <ul>
                            <li><a href="index-2.html">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">eset Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section class="login-page breadcrumb-main">
    <div class="custom-container col-md-4">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body" style="box-shadow: 0px 1px 18px 9px #60575773;" >
                    <h3 class="text-center">Forgot Password</h3>
                    <div class="mb-3" >
                        <h4>Your password has been set. You may go ahead and log in now. </h4>
                    </div>
                    <div>
                        <!-- <button></button> -->
                        <a href="/user/accounts/login/" class="btn btn-success" style="float: right; padding-left: 17px; padding-right: 17px; margin-top: 20px;" >Log in</a>
                    </div>
                    <div>
                        <img src="{% static 'user/assets/img/succes.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password Reset Complete</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'user/folder/assets/images/avtar/op2.png' %}" type="image/x-icon">
    <style>
        * {
            color: #fff;
            margin: 0px;
            padding: 0px;
        }

        @media only screen and (max-width: 600px) {
            body {
                background-color: lightblue;
            }
        }
    </style>

</head>

<body>
    <div class="row w-100" style="height: 580px;">
        <div class="row h-100 mx-auto mt-3 login_div"
            style="background-color: #002428; border-radius: 10px; width: 800px;">

            <div class="col-md-6 my-auto" style="height: 400px; float: right;border-right: 2px solid #7F9193;">
                <div class="col-md-8 display-block mx-auto display-flex h-100"
                    style=" justify-content: center; display: flex; align-items: center;">
                    <img class="" width="100%" src="{% static 'admin/global_assets/images/preview-xl.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 my-auto" style="height: 400px; float: right;">
                <div class="col-md-8 display-block mx-auto" style="height: 100%;">
                    <h1 class="text-center mb-4" style="opacity: 0.6; font-family: 'Architects Daughter', cursive;">
                        Forgot Password
                    </h1>
                    <h5>
                        Your password has been set. You may go ahead and log in now.
                    </h5>
                    <div>
                        <!-- <button></button> -->
                        <a href="/admin/" class="btn pl-4 pr-4 btn-success float-right">Log in</a>
                    </div>
                    <div style="padding-top: 70px; margin-left: -55px;" >
                        <img src="{% static 'user/assets/img/succes.png' %}" alt="">
                    </div>
                    <!-- <p class="text-center mb-4"
                        style="opacity: 0.5; font-family: 'Architects Daughter', cursive; letter-spacing: 1px;">please
                        Login to Admin Dashboard</p>                     -->
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>


{% load static %}
<!-- 
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'admin/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
        <title>Password Reset Complete</title>
    </head>
    <body>
        <div class="text-center" style="margin: 11% auto; width: 380px;">
            <div class="card o-hidden border-0 text-center shadow-lg p-4  col-md-12">
                <h1 class="h3 mb-0 text-gray-800">Forgot Password</h1>
            </div>  
            <div class="card o-hidden border-0 shadow-lg col-md-12" style="height: 145px;">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-4">
                                <h5>Your password has been set. You may go ahead and log in now.</h5>
                                <a href="/admin/" class="btn btn-primary">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> -->