{% extends 'user/index.html' %}
{% load static %}
{% block title %} Product List {% endblock %}
{% block content %}

<div class="breadcrumb-main pb-0">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="breadcrumb-contain">
                  <div>
                      <h2>category</h2>
                      <ul>
                          <li><a href="index-2.html">home</a></li>
                          <li><i class="fa fa-angle-double-right"></i></li>
                          <li><a href="javascript:void(0)">All Product</a></li>
                      </ul>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="section-big-pt-space ratio_asos b-g-light">
    <div class="collection-wrapper">
        <div class="custom-container">
            <div class="row">
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="collection-product-wrapper">
                                    <div class="product-top-filter">
                                        <div class="container-fluid p-0">
                                            <div class="row">
                                                <div class="col-12 position-relative">
                                                    <div class="product-filter-content horizontal-filter-mian ">
                                                        <!--<div class="horizontal-filter-toggle">-->
                                                        <!--  <h4><i data-feather="filter"></i>letest filter</h4>-->
                                                        <!--</div>-->
                                                        <div class="collection-view">
                                                            <ul>
                                                                <li><i class="fa fa-th grid-layout-view"></i></li>
                                                                <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                            </ul>
                                                        </div>
                                                        <!--<div class="product-page-per-view">-->
                                                        <!--    <select>-->
                                                        <!--        <option value="High to low">24 Products Par Page</option>-->
                                                        <!--        <option value="Low to High">50 Products Par Page</option>-->
                                                        <!--        <option value="Low to High">100 Products Par Page</option>-->
                                                        <!--    </select>-->
                                                        <!--</div>-->
                                                        <!--<div class="product-page-filter ">-->
                                                        <!--    <select>-->
                                                        <!--        <option value="High to low">Sorting items</option>-->
                                                        <!--        <option value="Low to High">50 Products</option>-->
                                                        <!--        <option value="Low to High">100 Products</option>-->
                                                        <!--    </select>-->
                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-wrapper-grid product">
                                        <div class="row pb-4">
                                          {% for i in pro_list %}
                                              {% if i.pro_image %}
                                                <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-grid-box" >
                                                <div class="product-box">
                                                  <div class="product-imgbox">
                                                    <div class="product-front">
                                                      <a href="/user/product/{{i.id}}"> <img src="{{i.pro_image.url}}" class="img-fluid  " alt="product"> </a>
                                                    </div>
                                                    <div class="product-back">
                                                      <a href="/user/product/{{i.id}}"> <img src="{{i.pro_image.url}}" class="img-fluid  " alt="product"> </a>
                                                    </div>
    
    
                                                  </div>
                                                  <div class="product-detail detail-center detail-inverse" style="min-height: 100px;">
                                                    <div class="detail-title-1 detail-title">
                                                      <div class="detail-left">
                                                        
                                                        <p>{{i.pro_description}}</p>
                                                        <a href="/user/product/{{i.id}}">
                                                          <h6 class="price-title">
                                                            {{i.productname}}
                                                          </h6> </a>
                                                      </div>
                                                      <div class="detail-right">
                                                        <div class="check-price"> <i class="fa fa-inr" aria-hidden="true"></i> {{i.strike_price}}.00 </div>
                                                        <div class="price">
                                                          <div class="price"> <i class="fa fa-inr" aria-hidden="true"></i> {{i.pro_price}}.00 </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="icon-detail">
                                                    <button  onclick="openquickk({{i.id}},0)" class="tooltip-top" data-tippy-content="Add to cart" >
                                            <i  data-feather="shopping-cart"></i>
                                                    </button>
                                                      <a href="javascript:void(0)"  onclick="openquick({{i.id}})" > <i  data-feather="eye"></i> </a>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              {% endif %}
                                          {% endfor %}
                                        </div>
                                    </div>
                                    <!--<div class="product-pagination">-->
                                    <!--    <div class="theme-paggination-block">-->
                                    <!--        <div class="container-fluid p-0">-->
                                    <!--            <div class="row">-->
                                    <!--                <div class="col-xl-6 col-md-6 col-sm-12">-->
                                    <!--                    <nav aria-label="Page navigation">-->
                                    <!--                        <ul class="pagination">-->
                                    <!--                            <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> <span class="sr-only">Previous</span></a></li>-->
                                    <!--                            <li class="page-item "><a class="page-link" href="javascript:void(0)">1</a></li>-->
                                    <!--                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>-->
                                    <!--                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>-->
                                    <!--                            <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span class="sr-only">Next</span></a></li>-->
                                    <!--                        </ul>-->
                                    <!--                    </nav>-->
                                    <!--                </div>-->
                                    <!--                <div class="col-xl-6 col-md-6 col-sm-12">-->
                                    <!--                    <div class="product-search-count-bottom">-->
                                    <!--                        <h5>Showing Products 1-24 of 10 Result</h5></div>-->
                                    <!--                </div>-->
                                    <!--            </div>-->
                                    <!--        </div>-->
                                    <!--    </div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}