{% extends 'user/index.html' %}
{% load static %}
{% block content %}


<!-- breadcrumb start -->
<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>dashboard</h2>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">{% block titall %} {% endblock %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<!-- section start -->
<section class="section-big-py-space b-g-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"  >
                <div class="aaccount-sidebar" >
                    <div class="account-sidebar"><a class="popup-btn">my account</a></div>
                </div>
                <div class="dashboard-left mb-2" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important" >
                    <div class="block-content">
                        <div class="account-sidebar"><a class="popup-btn">my account</a>
                        </div>
                        <div class="dashboard-left">
                            <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span></div>
                            <div class="block-content ">
                                <ul>
                                    <li class="{% if dashboard_active == 'dashboard_master' %} {{'active'}} {% endif %}"><a href="/user/dashboard/">Dashboard</a></li>
                                    <li class="{% if address_active == 'address_master' %} {{'active'}} {% endif %}" ><a href="/user/address/">Address Book</a></li>
                                    <li class="{% if myorder_active == 'myorder_master' %} {{'active'}} {% endif %}" ><a href="/user/myorder/">My Orders</a></li>
                                    <li class="{% if change_active == 'password_master' %} {{'active'}} {% endif %}" ><a href="/user/change-password/">Change Pssword</a></li>
                                    <li><a href="javascript:void(0)" onclick="user_logout()" >Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block contentt %}

            {% endblock %}

        </div>
    </div>
</section>
<!-- section end -->

{% endblock %}